<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head th:replace="fragments/layout :: head"></head>

<body style="background-color:  #e2e4e5;">
	<div th:replace="fragments/layout :: navbar-menu"></div>

	<div id="alertMessage"
		style="color: red; margin-top: 110px; font-family: Oswald, sans-serif;">
		<th:block th:if="${alertMessage}">
			<span th:text="${alertMessage}"></span>
		</th:block>
	</div>

	<div id="ajaxLoadedContent"></div>

	<script th:src="@{/js/main.js?newversion}"></script>
	<script th:src="@{/js/validation.js?newversion}"></script>
	<script th:src="@{/js/bootstrap_v4.5.0.bundle.min.js}"></script>

</body>
</html>